.container {
  margin-top: 5px;
}

/* .start {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #32bdd0;
  color: white;
  border-radius: 8px;
} */

/* #second {
  display: flex;
  flex-direction: row;
} */
.second-left {
  /* padding-top: 200px;
    padding-bottom: 200px;
    padding-left:90px;
    padding-right:  70px; */
  padding: 200px 0px 200px 90px;
}
.home-p {
  color: rgb(47, 179, 188);
}
.home-You {
  color: gray;
  font-size: larger;
}
.second-start {
  background-color: #3bb9d5;
  padding: 15px 30px 15px 30px;
  border-radius: 5px;
  color: white;
}
#f-image {
  width: 100%;
  height: 100%;
  background-color: #f3f1f2;
  /* border: 2px solid red; */
  border-radius: 50%;
}

#office-p {
  color: rgb(47, 179, 188);
  text-align: center;
}

.third-cards {
  display: flex;
  flex-direction: row;
}

h1 {
  font-size: 500%;
  font-weight: bold;
}

.card-img-top {
  background-color: #6990ff;

  /* border-radius: 50%; */
  width: 30%;
  height: 30%;
  padding: 20px;
}
.inventory {
  font-size: 42px;
}
/* .icon
{
  height: 100%;
  width: 100%;

} */

.fourth-section {
  background-color: sectionrgb(201, 219, 235);
  display: flex;
  flex-direction: row;
  padding-top: 140px;
  /* margin-top: 50px; */
}
.fourth-right {
  padding-top: 70px;
}
#about-the-pose {
  color: rgb(47, 179, 188);
}
.best {
  font-size: 42px;
  color: black;
}
.bg-third {
  background-color: #ece9eb;
  padding-top: 70px;
  padding-bottom: 70px;
}
.section-fifth {
  background-color: #6990ff;
  padding-top: 80px;
  padding-bottom: 80px;
  border-radius: 10px;
}
.fifth-section-img {
  background-color: white;
}
.fifth-txt {
  color: rgb(233, 231, 231);
  margin-top: 0px;
}
.fifth-number {
  font-size: 42px;
  color: white;
  font-weight: bold;
}
.fifth-line {
  border-right: 0.5px solid white;
}

/* sixth section starts */
.sixth-section {
  background-color: hwb(276 95% 2%);
  padding-top: 100px;
  padding-bottom: 100psectionx;
}
.sixth-images {
  background-color: #6990ff;

  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.border-round {
  border-radius: 10%;
}
/* Seventh section starts */
.seven-section {
  padding-top: 5%;
  padding-bottom: 5%;
}

.droplist {
  display: none;
}
.toggle-hide {
  display: none;
}

@media screen and (max-width: 450px) {
  .section-fifth {
    margin-right: 0;
    margin-left: 0;
  }
  .nav-list {
    display: none;
  }

  .toggle-hide {
    display: block;
  }
  .fourth-left {
    height: 1000px;
    width: 1000px;
    background-color: red;
  }
  .navbar {
    display: flex;
  }
  .second-left {
    order: 2;
  }
  .second-right {
    order: 1;
  }
  .seven-second {
    display: flex;
    flex-direction: column;
  }
}

@media screen and (max-width: 1050px) {
  .nav-list {
    display: none;
  }
  .seven-second {
    display: flex;
    flex-direction: column;
  }
  .toggle-hide {
    display: block;
  }
  .fourth-left {
    height: 100%;
    width: 100%;
    background-color: red;
  }
}
.retail-p {
  font-size: 20px;
  font-weight: bold;
  /* padding: 10px; */
}
.retail-col {
  /* padding: 20px 15px 20px 15px; */
  padding-left: 0px;
  padding-right: 0px;
  background-color: #faf9f9;
  margin-left: 10px;
}

.pricing-price {
  font-weight: 700;
  font-size: 60px;
  color: #6990ff;
}
.silver {
  font-size: 20px;
  font-weight: bold;
  padding-top: 100%;
}
.pricing-padding {
  padding-right: 170px;
}
