.min {
  margin-left: 0px;
  margin-right: 0px;
}

.container {
  margin-top: 5px;
  margin-left: 100px;
  margin-right: 100px;
}
.navbar {
  padding-left: 100px;
  padding-right: 100px;
  padding-bottom: 10px;
  background-color: white;
}
.start {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #32bdd0;
  color: white;
  border-radius: 8px;
}

#second {
  display: flex;
  flex-direction: row;
}
.second-left {
  /* padding-top: 200px;
    padding-bottom: 200px;
    padding-left:90px;
    padding-right:  70px; */
  padding: 200px 160px 200px 90px;
}
#home-p {
  color: rgb(47, 179, 188);
}
#home-You {
  color: gray;
  font-size: larger;
}
.second-start-button {
  background-color: #3bb9d5;
  padding: 15px 30px 15px 30px;
  border-radius: 5px;
  color: white;
}
.second-right {
  background-color: rgb(246, 221, 233);
  padding-top: 10px;
  border-radius: 500px;
}
#f-image{
    padding-top: 40px;
}

#office-p {
  color: rgb(47, 179, 188);
  text-align: center;
}

.third-cards {
  display: flex;
  flex-direction: row;
}

h1 {
  font-size: 500%;
  font-weight: bold;
}
